<div id="enter_your_name" class="modal">

    <div class="modal-content">

        <div class="row">Enter your name to enter this session</div>
        <div class="row field-input"><input id="username" type="text" placeholder="Usernam"></div>
    </div>
    <div class="modal-footer">
        <button class="btn" onclick="name_entered()">
            OK
        </button>
    </div>
</div>
<script>
    function name_entered(){
        console.log($("#username").val(),"{{ room.room_name }}")
        room_details.username = $("#username").val()
        $("#user_info").text(room_details.room+"-"+room_details.username+"*")
        socket_join_room(room_details)
        $("#enter_your_name").modal("close")

    }
    {% if  current_user.is_anonymous %}


    {% endif %}
</script>