<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rooms</title>
    {% include "util/coder_pad_head.html" %}
</head>
<body class="container">
    {% include "components/admin_tabbed_panel.html" %}
</body>

<script>
    function notify(ele,room_id){
        var checked = $(ele).prop('checked')
        $.get("/api/room_activation/"+room_id+"/"+(+checked))
        console.log(ele,room_id,checked)
    }
</script>
</html>