<table class="bordered">
    <tr>
        <th>public</th>
        <th>name</th>
        <th>active</th>
        <th>owner</th>
        <th>users</th>
        <th>created</th>
        <th>last_active</th>
        <th><button class="btn green">Create Room</button> </th>
    </tr>

    {% for room in rooms %}
        {% include "fragments/room_table_row.html" %}
        {% else %}
        <tr><td colspan="8"><h3>You Havent Got Any Rooms Yet. Go Ahead and create some!</h3></td></tr>
    {% endfor %}
</table>